main {
  min-height: 80vh;
}

.gobackbutton {
  &:hover {
    transform: scale(0.97);
  }
}

.product__card {
  &:hover {
    transform: scale(1.02);
  }
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.4rem 0.5rem;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}

.carousel-caption h2 {
  color: #fff;
}
